<div class="welcome-section">
    <h2>{{profile.title}}</h2>
    <h3>{{profile.subtitle}}</h3>
    <p class="subtitle">{{profile.description}}</p>
</div>
{{#each categories}}
    {{> category}}
{{/each}} 