<div class="page" id="{{pageId}}">
    <div class="welcome-section">
        <h2>{{title}}</h2>
        <p class="subtitle">{{subtitle}}</p>
    </div>
    {{#each categories}}
        {{> category}}
    {{/each}}
</div> 